
# env files
**/*/.env


# virtual environments
**/*/venv

# Runtime data directories
backend/data/
backend/etcd_data/
backend/milvus_data/
backend/minio_data/
backend/models/

# runtime files
ingress
